body{
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font: cursive 2rem;
}

#box{
  position: absolute;
  background-color: navy;
  width: 10rem;
  height: 10rem;
}

h3{
  font-size: 3rem;
  font-family: cursive ;
  color: navy;
}

p{
  font-size: 2rem;
  color: darkblue;
  font-weight: bold;
  text-align: center;
}

@keyframes move{
  0%,100%{
    transform: translate(0,0);
  }  
  90%{
    transform : translate(-70vh,0);
  }
  25%{
    transform : translate(70vh,0);
  }
  50%{
    transform: translate(-70vh,25vw);
  }
  75%{
    transform: translate(70vh,25vw);
  }
}